<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>RegistrationProj</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginClass</servlet-name>
    <servlet-class>com.bridgelabz.LoginClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginClass</servlet-name>
    <url-pattern>/LoginClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterClass</servlet-name>
    <servlet-class>com.bridgelabz.RegisterClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterClass</servlet-name>
    <url-pattern>/RegisterClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PreLoginClass</servlet-name>
    <servlet-class>com.bridgelabz.PreLoginClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreLoginClass</servlet-name>
    <url-pattern>/PreLoginClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PreRegisterClass</servlet-name>
    <servlet-class>com.bridgelabz.PreRegisterClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreRegisterClass</servlet-name>
    <url-pattern>/PreRegisterClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PreSuccess</servlet-name>
    <servlet-class>com.bridgelabz.PreSuccess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreSuccess</servlet-name>
    <url-pattern>/PreSuccess</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PreError</servlet-name>
    <servlet-class>com.bridgelabz.PreError</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreError</servlet-name>
    <url-pattern>/PreError</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.bridgelabz.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>LogInFilter</filter-name>
    <filter-class>com.bridgelabz.LogInFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LogInFilter</filter-name>
    <url-pattern>/LoginClass</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>RegisterFilter</filter-name>
    <filter-class>com.bridgelabz.RegisterFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RegisterFilter</filter-name>
    <url-pattern>/RegisterClass</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.bridgelabz.Listner</listener-class>
  </listener>
</web-app>